
<!-- Rodapé da Pagina -->


{% load static %}
<footer class="rodape">
    <div class="rodape__icones">
        <a href="https://twitter.com/ProjektCdj" target=”_blank” >
            <img src="{% static 'assets//ícones/1x/twitter.png' %}" alt="ícone twitter">
        </a>
        <a href="https://www.instagram.com/ycdj_/" target=”_blank” >
            <img src="{% static 'assets//ícones/1x/instagram.png' %}" alt="ícone instagram">
        </a>
        <a href="https://github.com/ProjektCdj" target="_blank" >
            <img src="{% static 'assets//ícones/1x/github_white.png' %}" alt="ícone github">
        </a>
    </div>
    <p class="rodape__texto">Desenvolvido por PröjektCdj</p>
</footer>