{% load static %}

<!-- Cabeçalho -->
<div class="pagina-inicial">
    <header class="cabecalho">
        {% for message in messages %}
        <div class="alert alert-primary">
            <p id="messages">{{message}}</p>
        </div>
        {% endfor %}
    </header>
</div>

<!-- Menu Lateral  -->
<main class="principal">
    <section class="menu-lateral">
        <nav class="menu-lateral__navegacao">
            <a href="{% url 'index' %}"><img src="{% static 'assets//ícones/1x/Home - ativo.png' %}"> Home</a>
            <a href="{% url 'nova_imagem' %}"><img src="{% static 'assets//ícones/1x/Adicionar - inativo.png' %}"> Nova Imagem</a>
        </nav>
    </section>
</main>
