{% load static %}

 <!--  Configuração dos Cards   -->

<section class="galeira">
    <div class="cards">
        <ul class="cards__lista">        
        {% if cards %}
        {% for fotosthumb in cards %}
            <li class="card">  
                    <a href="{% url 'imagem' foto_id=fotosthumb.id %}">
                {% if fotosthumb.foto == "" or fotosthumb.foto == null %}
                    <img class="card__imagem" src="{% static 'assets//imagens/galeria/not-found.png' %}">
                {% else %}
                    <img class="card__imagem" src="{{ fotosthumb.foto.url }}" alt="foto">
                {% endif %}
                </a>
                <div class="card__info">
                    <p class="card__titulo">{{ fotosthumb.nome }}</p>
                    <div class="card__texto">
                        <span> {{ fotosthumb.plataforma}} </span>
                        <span>
                            <img src="{% static 'assets//ícones/1x/favorite_outline.png' %}" alt="ícone de coração">
                        </span>
                    </div>
                </div>
            </li>
        {% endfor %}
        {% else %}
        </ul>
    {% endif %}
    </div>
</section>